<div class="text-9xl">
  <div class="font-extrabold text-red-50">Extrabold</div>
  <div class="font-bold">Bold</div>
  <div class="font-black">Black</div>
  <div class="font-semibold">SemiBold</div>
  <div class="font-normal">Normal</div>
  <div class="font-medium">Medium</div>
  <div class="font-light">Light</div>
  <div class="font-extralight">ExtraLight</div>
  <div class="font-mono">Mono</div>
  <div class="font-sans">Sans</div>
  <div class="font-serif">Serif</div>
  <div class="font-thin">Thin</div>
</div>
<router-outlet></router-outlet>
